# data science
numpy==2.2.6
pandas==3.0.1
scikit-learn==1.8.0

# Uncomment if you use sklearn
# scikit-learn==1.6.1

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
# tensorflow==2.16.2    # For both Intel and Apple silicon
# keras==3.8.0

# Google Cloud
# Uncomment if you use Google Cloud Storage
# google-cloud-storage

# trading
lightgbm==4.6.0
pandas-ta==0.4.71b0

# API
fastapi==0.135.1
uvicorn==0.42.0
